<!DOCTYPE html>
<html>
    <head>
        <title>sourcing startups</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>

        <h3>Startup details : <%=startupProfile.entreprise%></h3>
            <div id="startupDetailsContainer">
                <div class="startupDetail">
                    <p>
                        <b>Entreprise :</b>
                        <%=startupProfile.entreprise%>
                    </p>
                    <form method='POST'>
                        <small>Update entreprise : <input name='entreprise' /></small>
                        <button type='submit'>Update now.</button>
                    </form>
                    
                </div>
                <br>
                <div class="startupDetail">
                    <p>
                        <b>Keywords :</b>
                        <%=startupProfile.keywords%>
                    </p>
                    <form method='POST'>
                        <smallp>Update keywords :
                            <input name='keywords'>
                        </small>
                        <button type='submit'>Update now.</button>
                    </form>
                </div>
                <div class="startupDetail">
                    <p>
                        <b>descriptif :</b>
                        <%=startupProfile.descriptif%>
                    </p>
                    <form method='POST'>
                        <small>Update descriptif :
                            <input name='descriptif'>
                        </small>
                        <button type='submit'>Update now.</button>
                    </form>
                </div>
                <div class="startupDetail">
                    <p>
                        <b>country :</b>
                        <%=startupProfile.country%>
                    </p>
                    <form method='POST'>
                        <small>Update country :
                            <input name='country'>
                        </small>
                        <button type='submit'>Update now.</button>
                    </form>
                </div>
                <div class="startupDetail">
                    <p>
                        <b>url :</b>
                        <%=startupProfile.url%>
                    </p>
                    <form method='POST'>
                        <small>Update url :
                            <input name='url'>
                        </small>
                        <button type='submit'>Update now.</button>
                    </form>
                </div>
            </div>

    </body>
</html>